Assignment 1: Python Basics and Data Types

In [ ]:
1. Variable Manipulation:
o Define variables to store a student's name, age, GPA, and list of subjects.
o Convert age from years to months and display the result.
o Concatenate and print a sentence using all the defined variables.

In [8]:
names = ['X','Y','Z']

In [1]:
age = 43

In [2]:
CGPA = 8.5

In [3]:
subjects = ['Maths', 'Science', 'English']

In [5]:
months = age * 12

In [6]:
months

516

In [9]:
print(names,age,CGPA,subjects,months)

['X', 'Y', 'Z'] 43 8.5 ['Maths', 'Science', 'English'] 516

Assignment 2: Data Structures - List, Tuple, Set, and Dictionary

In [ ]:
1. Working with Lists:
o Create a list of integers and:
 Append a new number.
 Insert a number at a specific index.
 Remove duplicates and print the final list

In [10]:
l = [1,2,3,5,7]

In [11]:
l

[1, 2, 3, 5, 7]

In [12]:
l.append(8)

In [13]:
l

[1, 2, 3, 5, 7, 8]

In [14]:
l.insert(2, 300)

In [15]:
l

[1, 2, 300, 3, 5, 7, 8]

In [16]:
l.append(8)

In [17]:
l

[1, 2, 300, 3, 5, 7, 8, 8]

In [19]:
l2 = set(l)

In [20]:
l2

{1, 2, 3, 5, 7, 8, 300}

In [21]:
list(l2)

[1, 2, 3, 5, 7, 8, 300]

In [ ]:
2. Tuple Manipulation:
o Define a tuple of 5 colors.
o Try to add a new color to the tuple (observe and explain why it fails).
o Convert the tuple to a list, add the color, and convert it back to a tuple.

In [22]:
colors = ('Red', 'White', 'Blue', 'Yeallow', 'Pink')

In [23]:
colors

('Red', 'White', 'Blue', 'Yeallow', 'Pink')

In [24]:
colors[1] = "dkjsdh"

TypeError: 'tuple' object does not support item assignment

In [25]:
c = list(colors)

In [26]:
c

['Red', 'White', 'Blue', 'Yeallow', 'Pink']

In [27]:
c.append('Voilet')

In [28]:
c

['Red', 'White', 'Blue', 'Yeallow', 'Pink', 'Voilet']

In [29]:
c = tuple(c)

In [30]:
c

('Red', 'White', 'Blue', 'Yeallow', 'Pink', 'Voilet')

In [ ]:
3. Set Operations:
o Create two sets of random numbers.
o Find and print their union, intersection, and difference.
o Remove one element from the first set and add a new element.

In [31]:
s1 = {1,5,2,7,8,3}

In [32]:
s2 = {9,0,5,8,1}

In [33]:
s1.union(s2)

{0, 1, 2, 3, 5, 7, 8, 9}

In [34]:
s1.intersection(s2)

{1, 5, 8}

In [35]:
s1.difference(s2)

{2, 3, 7}

In [39]:
s1.add(89)

In [40]:
s1

{1, 2, 3, 5, 7, 8, 89}

In [41]:
data = {'Name':'Vaibhav', 'Last_name':'Bhosale', 'Age':24, 'Mobile':239838739}

In [42]:
data

{'Name': 'Vaibhav', 'Last_name': 'Bhosale', 'Age': 24, 'Mobile': 239838739}

In [43]:
data['City'] = 'Solapur'

In [44]:
data

{'Name': 'Vaibhav',
 'Last_name': 'Bhosale',
 'Age': 24,
 'Mobile': 239838739,
 'City': 'Solapur'}

In [ ]:
4. Dictionary Practice:
o Define a dictionary for a library system with book titles as keys and available 
copies as values.
o Update the count of a specific book after it is borrowed.
o Add a new book to the dictionary and print the updated dictionary.

In [45]:
l = {"Maths":2, "Science":1, "English":6}

In [46]:
l

{'Maths': 2, 'Science': 1, 'English': 6}

In [47]:
l['English'] = 5

In [48]:
l

{'Maths': 2, 'Science': 1, 'English': 5}

In [49]:
l['Marathi'] = 4

In [50]:
l

{'Maths': 2, 'Science': 1, 'English': 5, 'Marathi': 4}