In [4]:
marks = 3

In [5]:
if marks > 35:
    print('Pass')
else:
    print('Fail')

Fail

In [6]:
# Multiple Condetions

In [29]:
age = 91

In [30]:
if age > 90:
    print('Old Person')
elif age > 30:
    print('Working Person')
elif age > 5:
    print('Student')
else:
    print('Small baby')

Old Person

In [15]:
marks = 8
if marks > 90 :
    print('A+')
elif marks > 70:
    print('B')
elif marks > 50:
    print('C')
elif marks > 35:
    print('Pass')
else:
    print('Fail')

Fail

In [20]:
marks = 90
if marks> 90 and marks < 100:
    print('A+')
elif marks > 70 and marks < 90:
    print('B')
elif marks > 50 and marks < 70:
    print('C')
elif marks > 35 and marks < 50:
    print('Pass')
elif marks > 0 and marks < 35:
    print('Fail')
else:
    print('Please write marks between range of 0-100')

Please write marks between range of 0-100

In [21]:
marks = 90
if marks>= 90 and marks < 100:
    print('A+')
elif marks >= 70 and marks < 90:
    print('B')
elif marks >= 50 and marks < 70:
    print('C')
elif marks >= 35 and marks < 50:
    print('Pass')
elif marks > 0 and marks < 35:
    print('Fail')
else:
    print('Please write marks between range of 0-100')

A+

In [23]:
if 10 > 60 or 10 < 20:
    print(True)
else:
    print(False)

True

In [24]:
# 5 Examples

In [31]:
l = ['H', 'E', 'L', 'L', 'O', 'I']

In [32]:
for char in l:
    print(char)

H
E
L
L
O
I

In [ ]:
for loop is going to iterate object one by one

In [37]:
d = [10,20,30,40,50]

In [38]:
for num in d:
    print(num)

10
20
30
40
50

In [39]:
for num in d:
    print(num + 1)

11
21
31
41
51

In [40]:
for i in 'Data':
    print(i)

D
a
t
a

In [41]:
for i in 150:
    print(i)

TypeError: 'int' object is not iterable

In [42]:
t = (1,2,3,4,5)

In [43]:
for numbers in t:
    print(numbers)

1
2
3
4
5

In [46]:
y = (100,10)

In [47]:
for data in y:
    print(data)

100
10

In [48]:
for i in 'Science':
    print(i)

S
c
i
e
n
c
e

In [49]:
for i in 'Science':
    print(i + 'Hello')

SHello
cHello
iHello
eHello
nHello
cHello
eHello

In [50]:
names = ['Vaibhav', 'Vinit', 'Sandesh', 'Vaishnavi', 'Ankita', 'Rijuta']

In [51]:
for i in names:
    print('Hi ' + i)

Hi Vaibhav
Hi Vinit
Hi Sandesh
Hi Vaishnavi
Hi Ankita
Hi Rijuta