# While Loop

In [1]:
age = 15

In [2]:
while age < 18:
    print('Student', age)
    age = age + 1

Student 15
Student 16
Student 17

In [3]:
marks = 40

In [4]:
while marks > 35:
    print(marks)
    marks = marks - 1

40
39
38
37
36

In [5]:
'Hello' == 'Hello'

True

In [6]:
'Hello' != 'Hello'

False

In [10]:
button = 'Hello'
while button != 'stop':
    print(button)
    button = input('Enter "stop" to exit loop')

Hello

Enter "stop" to exit loop ok

ok

Enter "stop" to exit loop no

no

Enter "stop" to exit loop jkdbksjc

jkdbksjc

Enter "stop" to exit loop stop

In [7]:
'Hello' != 'stop'

True

In [8]:
'sjkbsj' != 'stop'

True

In [9]:
'stop' != 'stop'

False

In [11]:
num = 10

In [13]:
while num > 0:
    print(num)
    num = num - 1

10
9
8
7
6
5
4
3
2
1

In [12]:
0 == 0

True

In [14]:
# Sum of 10 number

In [17]:
num = 15
sum = 0
while num > 0:
    sum = sum + num
    num = num - 1

In [18]:
sum

120

In [19]:
sum = 0
for i in range(1,11):
    sum = sum + i    #sum += i

In [20]:
sum

55

In [21]:
# Sum of n natural numbers

In [27]:
n = 15

In [28]:
n * (n+1) /2

120.0

In [29]:
# Break, Continue, pass

# Break

In [30]:
for i in range(1,5):
    if i == 3:
        break
    print(i)

1
2

In [31]:
for i in 'Data Science':
    if i == 'c':
        break
    print(i)

D
a
t
a

S

# Continue

In [32]:
for i in range(1,5):
    if i == 3:
        continue
    print(i)

1
2
4

In [33]:
for i in 'data science':
    if i == 'a':
        continue
    print(i)

d
t

s
c
i
e
n
c
e

In [34]:
# Pass --> Timepass--> Meaningless --> fill the block of code

In [35]:
for i in range(1,5):

SyntaxError: incomplete input (4017642945.py, line 2)

In [36]:
for i in range(1,5):
    pass

In [37]:
for i in range(1,5):
    if i == 3:
        pass

In [38]:
for i in range(1,5):
    if i == 3:

SyntaxError: incomplete input (3802962731.py, line 3)